ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: purple;
}

li {
  float: left;
}

li {
  display: block;
  color: #c6e2ff;
  text-align: center;
  padding: 22px 16px;

  text-decoration: none;
}

li:hover {
  background-color: rgb(170, 187, 16);
}
